<div class="swarm-tree">    
    <div class="tree well" style="background: none; border:0; padding-left: 0; padding-right: 0;">
        <ul>
            <li>
                <a href><span><i class="fa fa-minus-square-o"></i> Project</span>
                <ul>
                    <li>
                        <a><span><i class="fa fa-minus-square-o"></i> Adapters</span></a>
                        <ul>
                            <li ng-repeat="adapter in project.adapters">
                                <a href="#/app/swarmide/edit/1"><span><i class="fa fa-cube"></i> {{ adapter.name }} </span></a>
                            </li>
                            <li>
                                <a href="#app/swarmide/edit"><span><i class="fa fa-cube"></i> Test Adapter </span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a><span><i class="fa fa-minus-square-o"></i> Swarms</span></a>
                        <ul>
                            <li ng-repeat="swarm in project.swarms">
                                <a href ><span ng-click="startEditSwarm(swarm)"><i class="fa fa-cube"></i> {{ swarm.name }} </span></a>
                            </li>
                            <li>
                                <a href> <span class="disabled"><i class="fa fa-cube"></i> Test Swarm </span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>